DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcuserdatad/

build/
*.ipa
*.dSYM.zip
*.dSYM

.build/
Package.resolved

Pods/
Podfile.lock

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

.DS_Store

*.log
